ul {
/* <url> values */
    list-style-image: url('https://cdn-icons-png.flaticon.com/512/1804/1804486.png');

}

h2 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    font-style: italic;
}
